<!DOCTYPE html>

<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Authenticate</title>
    </head>

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
    <body>

        <%if(currentUser){%>
        
            <%=currentUser.username%>
            <a href="/logout">Log Out</a>
            
        <%}%>

        <div class="card container" style="width:300px; margin-top:20px;">

            <form id="register" action="/signup" method="POST" style="display: none">

                <label>Email</label>
                <input class="form-control" name="username" style="margin-bottom:20px" placeholder="abc@example.com">

                <label>Password</label>
                <input class="form-control" name="password" type="password" style="margin-bottom:20px" placeholder="Keep Strong Passwords">

                <label>Confirm Password</label>
                <input class="form-control" type="password" style="margin-bottom:20px" placeholder="Retype your password">

                <center>
                    <input style="margin-bottom:5px;" type="submit" class="btn btn-success" value="Register"><br>
                    <font color="blue" size=1 style="cursor:pointer" onclick="$('#register').hide(); $('#login').show();">Already a member? Sign In</font>
                </center>

            </form>

            <form id="login" action="/signin" method="POST">

                <label>Email</label>
                <input class="form-control" name="username" style="margin-bottom:20px" placeholder="abc@example.com">

                <label>Password</label>
                <input class="form-control" name="password" type="password" style="margin-bottom:20px" placeholder="Enter Password">

                <center>
                    <input style="margin-bottom:5px;" type="submit" class="btn btn-success" value="Log In"><br>
                    <font color="blue" size=1 style="cursor:pointer" onclick="$('#login').hide(); $('#register').show();">Not a member yet? Register here</font>
                </center>

            </form>

        </div>

    </body>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script language="javascript" type="text/javascript" src="https://cdn.jsdelivr.net/gh/ethereum/web3.js@1.0.0-beta.34/dist/web3.js"></script>
    <script type="text/javascript" language="javascript" src="index.js"></script>
    <script src="/contract.js"></script>

</html>